Employees.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employees">
     <xs:complexType>
     <xs:sequence>
              <xs:element name="Employee" minOccurs="0" maxOccurs="unbounded"/>
                   <xs:complexType>
                   <xs:sequence>
                      <xs:element name="First" type="xs:string"/>
                      <xs:element name="Last" type="xs:string"/>
                      <xs:element name="Phone" type="xs:string"/>
                   </xs:sequence>
                   </xs:complexType>
     </xs:sequence>
     </xs:complexType>  
         </xs:element>
</xs:schema>